Flask==3.1.0
pymongo[srv]==3.12 
python-dotenv
Authlib==1.4.0
requests>=2.31.0
beautifulsoup4>=4.12.0
flask-cors
APScheduler==3.11.0
portalocker
openai==1.60.2
tenacity==9.0.0
google-api-python-client 
google-auth 
google-auth-oauthlib 
google-auth-httplib2
Flask==3.1.0
openai
aiohttp==3.11.12
google-cloud-pubsub
gunicorn